<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiheonline.qcloud.xiaozhibo">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- IMSDK 权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- <uses-permission android:name="android.permission.SET_DEBUG_APP" /> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.yiheoline.qcloud.xiaozhibo.TCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.NoticeSelectActivity"></activity>
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.PhoneActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.CustomTagActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.login.OneKeyLoginActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.video.VideoListActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.LikeActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.NoticeListActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.ChangeAccountActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.show.TCVodPlayerActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.CashOutActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.OrderListActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.MessageActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.AnchorCenterActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.RechargeRecordActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.AccountActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.SettingActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.FansListActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.EditUserInfoActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.SeeRecordActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.CompanyAuthActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.UpLoadRecordActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.profile.ShowerInfoActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.video.SeeVideoRecordActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.BuyResultActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.ConfirmOrderActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.SearchActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.video.VideoSearchActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.NoticeDetailActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.ShowerPlayStartActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.ApplyShowActivity" />
        <activity android:name="com.yiheoline.qcloud.xiaozhibo.homepage.ShowSettingActivity" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.main.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.login.TCLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.login.TCRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.main.TCMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.anchor.prepare.TCAnchorPrepareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.audience.TCAudienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.playback.TCPlaybackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.anchor.TCCameraAnchorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.video.VideoDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yiheoline.qcloud.xiaozhibo.anchor.screen.TCScreenAnchorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/RecordActivityTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.yiheoline.qcloud.xiaozhibo.anchor.screen.TCScreenRecordService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tencent.qcloud.xiaozhibo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <service
            android:name="com.tencent.imsdk.session.remote.SessionService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.AssistService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.KeepAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":network" />

        <receiver android:name="com.tencent.imsdk.session.SessionBroadcastReceiver">
            <intent-filter>
                <action android:name="com.tencent.imsdk.session.boot" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.tencent.qcloud.qal.TASK_REMOVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.yiheoline.qcloud.xiaozhibo.login.LoginActivity" /> <!-- 联通电信授权页 -->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/authsdk_activity_dialog" /> <!-- 协议页面webview -->
        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" /> <!-- 移动授权页 -->
        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel"/>
        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="${applicationId}.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>

</manifest>